body {
    background-image: url(img/kayu.jpg);
    font: 16px/28px arial;
}

.container {
    width: 960px;
    border: 5px solid darkmagenta;
    background-color: #fff;
    margin: -8px auto;
}

.header {
    padding: 20px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul {
    padding-left: 0;
}

.header ul li {
    display: inline-block;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: salmon;
    padding: 3px;
}

.header a:hover {
    background-color: lightskyblue;
    color: white;
}

.hero {
    height: 320px;
    background-image: url(img/bhinneka.png);
    background-size: cover;
    background-position: 0 -70px;
    border-top: 5px solid maroon;
    border-bottom: 5px solid maroon;
    border-right: 5px solid maroon;
    border-left: 5px solid maroon;
}

.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
}

.main h2 {
    font-size: 28px;
    font-weight: bold;
}

.main .penulis {
    font-size: 15px;
    margin-top: -20px;
}

.main .penulis a {
    color: salmon;
    text-decoration: none;
}

.main .penulis a:hover {
    background-color: lightskyblue;
    color: #fff;
    padding: 1px;
}

.main p {
    font-size: 14px;
    font-family: poppins;
}

footer {
    background-color: #333;
    padding: 1px;
}

footer p {
    color: #eaeaea;
    text-align: center;
    font-family: poppins;
}

.cf:before,
.cf:after {
    content: "";
    /*1*/
    display: table;
    /*2*/
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* sidebar */

.sidebar {
    width: 300px;
    float: right;
    padding: 20px;
}

.sidebar h3 {
    font-weight: bold;
    color: #666;
}

.sidebar img {
    width: 70px;
    height: 70px;
    float: left;
    padding-right: 10px;
}

.sidebar p {
    font: 12px/18px poppins;
}